body {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 2rem Inconsolata, monospace;
  text-shadow: 0 0 3px #C8C8C8;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}
a {
  color: #0080FF;
  text-shadow: 0 0 3px #C8C8C8;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
h1 {
  font-size: 1.2rem
}
h2 {
  font-size: 1.1rem
}
