body {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 2rem Inconsolata, monospace;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}
a {
  color: lightgreen;
  text-decoration: none;
}
label {
  color: brown;
}
a:hover{
  text-decoration: underline;
}
h1 {
  font-size: 1.2rem
}
h2 {
  font-size: 1.1rem
}
